#weather {
  display: flex;
  flex-direction: column;
}

#forecast-preview-header {
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px 10px;
  border: 1px solid $grayscale-dark;
  border-radius: 15px;
  background-color: $primary-color-light;
  color: $grayscale-light;
}

#preview-updated-at {
  padding-left: 10px;
  font-size: 0.4em;
}

#forecast-preview-body {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

#forecast-currently {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  border-bottom: 1px solid $grayscale-medium-light;
}

#preview-icon {
  font-size: 6em;
  height: 100px;
  width: 40%;
  text-align: center;
}

#preview-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  min-height: 150px;
  font-size: 1em;
  color: $grayscale-light
}

#current-thermometer {
  font-size: 3em;
  color: $grayscale-light;
}

#preview-summary-items {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#preview-text,
#current-high-low,
#current-humidity,
#current-wind {
  padding: 3% 0;
}

#current-wind {
  display: flex;
}

#forecast-hourly {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid $grayscale-medium-light;
}

#forecast-hourly time,
#forecast-hourly p {
  font-size: 1.3em;
  color: $grayscale-light;
}

#forecast-daily {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0;
  color: $grayscale-light;
}

#weather-attribution {
  display: flex;
  justify-content: center;
  height: 48px;
}

.hourly-icon,
.daily-icon {
  font-size: 1.8em !important;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3em;
}

.forecast-day-temperatures {
  font-size: 1.3em;
}

.forecast-day-precip {
  display: flex;
  justify-content: space-around;
  color: $primary-color-light;
}

.forecast-day *,
.forecast-hour * {
  margin: 3px 0;
}

i[class*="towards"]::before {
  color: $weather-keyword;
}

.highs {
  color: $weather-warm;
}

.lows {
  color: $weather-cool;
}

.forecast-hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
}

.hourly-icon {
  font-size: 1.5em;
}

.weather-keyword {
  color: $weather-keyword;
}

.fa-thermometer-empty::before {
  color: $weather-cold;
}

.fa-thermometer-quarter::before {
  color: $weather-cool;
}

.fa-thermometer-half::before {
  color: $weather-moderate;
}

.fa-thermometer-three-quarters::before {
  color: $weather-warm;
}

.fa-thermometer-full::before {
  color: $weather-hot;
}

.wi-day-sunny {
  color: $weather-sunny;
}

.wi-night-clear,
.wi-snow,
.wi-sleet {
  color: $weather-snowy;
}

.wi-rain {
  color: $weather-rainy;
}

.wi-strong-wind {
  color: $weather-windy;
}

.wi-fog,
.wi-cloudy {
  color: $weather-cloudy;
}

.wi-day-cloudy {
  color: $weather-day-partly-cloudy;
}

.wi-night-alt-cloudy {
  color: $weather-cloudy;
}
