@media (min-width: #{$tablet-portrait-width}) and (max-width: #{$tablet-landscape-width - 1px}) {
  .preview-body {
    padding-left: 5%;
    padding-right: 5%;
  }
  .satellite-list-buttons {
    font-size: 2.7em;
    padding: 10px 5% 0;
  }
  #satellite-quickview-container {
    font-size: 1.4em;
  }
}

@media (min-width: #{$tablet-protrait-soft-break}) and (max-width: #{$tablet-landscape-width - 1px}) {
  #location-display {
    width: 50%;
    text-align: right;
  }
  #location-input {
    width: 150px;
  }
  #current-location-button {
    margin-left: -10px;
  }
  #preview-summary {
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
  }
  #preview-icon {
    width: auto;
  }
  #satellite-quickview-container {
    margin: 0 calc((100% - 500px) / 2);
  }
  #forecast-currently,
  #forecast-hourly,
  #forecast-daily {
    justify-content: space-around;
  }
  #preview-text,
  #current-high-low,
  #current-humidity,
  #current-wind {
    font-size: 1.2em;
  }
}

@media (min-width: #{$tablet-landscape-width}) and (max-width: #{$desktop-width - 1px}) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  section {
    margin: 0 2%;
  }
  #location-display {
    width: 30%;
    text-align: right;
  }
  #location-input-container {
    justify-content: center;
  }
  #location-input {
    width: 300px;
  }
  #location-input input {
    width: 300px;
  }
  #current-location-button {
    margin-left: -30px;
  }
  #weather {
    width: 100%;
  }
  #current-thermometer {
    font-size: 4em;
  }
  #preview-icon {
    width: auto;
  }
  .preview-body {
    padding-left: 5%;
    padding-right: 5%;
  }
  #preview-summary {
    flex-direction: row;
    justify-content: space-between;
  }
  #preview-summary-items {
    justify-content: space-around;
  }
  #forecast-currently,
  #forecast-hourly,
  #forecast-daily {
    justify-content: space-around;
  }
  #earth,
  #space {
    width: 46%;
  }
  #preview-text,
  #current-high-low,
  #current-humidity,
  #current-wind {
    font-size: 1.2em;
  }
  #satellite-quickview-container {
    font-size: 1.1em;
  }
}

@media (min-width: #{$desktop-width}) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  section {
    margin: 0 2%;
    flex: 1;
  }
  #location-input {
    width: 300px;
  }
  #location-input input {
    width: 300px;
  }
  #current-location-button {
    margin-left: -30px;
  }
  #location-display {
    width: 30%;
    text-align: right;
  }
  #preview-icon {
    width: auto;
  }
}
