@media (min-width: #{$tablet-portrait-width}) and (max-width: #{$tablet-landscape-width - 1px}) {
  /* === HOME === */

  // Shared
  .preview-body {
    padding-left: 5%;
    padding-right: 5%;
  }

  // Space section
  #satellite-quickview-container {
    font-size: 1.4em;
  }
}

@media (min-width: #{$tablet-protrait-soft-break}) and (max-width: #{$tablet-landscape-width - 1px}) {
  /* === HOME === */

  // Header
  #location-input {
    width: 170px;
  }
  #location-input input {
    width: 190px;
  }
  #current-location-button {
    margin-left: -10px;
  }
  #location-display {
    width: 50%;
    text-align: right;
  }

  // Weather section
  #preview-icon {
    width: auto;
  }
  #preview-summary {
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
  }
  #preview-text,
  #current-high-low,
  #current-humidity,
  #current-wind {
    font-size: 1.2em;
  }
  #forecast-currently,
  #forecast-hourly,
  #forecast-daily {
    justify-content: space-around;
  }

  // Space section
  #satellite-quickview-container {
    margin: 0 calc((100% - 500px) / 2);
  }

}

@media (min-width: #{$tablet-landscape-width}) and (max-width: #{$desktop-width - 1px}) {
  /* === HOME === */

  // Shared
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  section {
    margin: 0 2%;
  }
  .preview-body {
    padding-left: 5%;
    padding-right: 5%;
  }

  // Header
  #location-input,
  #location-input input {
    width: 300px;
  }
  #current-location-button {
    margin-left: -30px;
  }
  #location-display {
    width: 30%;
  }

  // Weather section
  #weather {
    width: calc(100% - 30px);
  }
  #preview-icon {
    width: auto;
  }
  #current-thermometer {
    font-size: 4em;
  }
  #preview-summary {
    flex-direction: row;
    justify-content: space-between;
  }
  #preview-summary-items {
    justify-content: space-around;
  }
  #preview-text,
  #current-high-low,
  #current-humidity,
  #current-wind {
    font-size: 1.2em;
  }
  #forecast-currently,
  #forecast-hourly,
  #forecast-daily {
    justify-content: space-around;
  }

  // Geo section
  #earth {
    width: 46%;
  }

  // Space section
  #space {
    width: 46%;
  }
}

@media (min-width: #{$desktop-width}) {
  /* === HOME === */

  // Shared
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  section {
    margin: 0 2%;
    flex: 1;
  }

  // Header
  #location-input {
    width: 300px;
  }
  #location-input input {
    width: 300px;
  }
  #current-location-button {
    margin-left: -30px;
  }
  #location-display {
    width: 30%;
  }

  // Weather section
  #preview-icon {
    width: auto;
  }
}
